#for XCode
.DS_Store
*.swp
*~.nib
.Spotlight-V100
.TemporaryItems
.fseventsd

#for windows
Thubs.db
$RECYCLE.BIN
RECYCLED
RECYCLER
build/

*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
*.xcuserstate
project.xcworkspace/
xcuserdata/

# Backup files
*~.nib

#for Java
.project
.classpath
*.class
bin/
.settings/
./metadata/
classes/
target/
test-classes/

target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
